argcomplete==3.4.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dbscan==0.0.12
fonttools==4.53.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pip-check-reqs==2.5.3
pipx==1.6.0
platformdirs==4.2.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
threadpoolctl==3.5.0
tomli==2.0.1
tzdata==2024.1
userpath==1.9.2
